*{
    margin:auto;
    padding: 5px;
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif
}

body {
    position: relative;
    background: #020101;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("tr.jpeg");
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: -1;
}

.container{

    width:350px;
    height: 550px;

    padding:0px;

    border-radius:25px;

    text-align:center;


 
}

h1{

    color:#f600f6;
    font-size:50px;
    font-weight:bold;

    text-shadow:
    0 0 5px #f308f3,
    0 0 0px #ff00ff;

}

h2{

    margin-top:15px;

    margin-bottom:30px;

    color:rgb(32, 4, 251);

    font-size:40px;

}

.input-box{

    margin:18px 0;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

label{

    color:rgb(255, 254, 254);

    font-size:30px;

    font-weight:bold;

}

select{

    width:160px;

    padding:10px;

    border-radius:12px;

    border:2px solid #45ff70;

    outline:none;

    background:#032d0d;

    color:white;

    font-size:18px;

}

#signal{

    margin-top:0px;

    font-size:35px;

    font-weight:bold;

    color:#54ff72;

   
}

#countdown{

    margin-top:0px;

    font-size:50px;

    color:rgb(63, 245, 2);

    font-weight:bold;

}

button{

    margin-top:3px;

    width:75%;

    padding:5px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    font-size:25px;

    font-weight:bold;

    color:white;

    background:linear-gradient(90deg,#00ff66,#00b33c);

    box-shadow:
    0 0 0px #00ff66,
    0 0 0px #00ff66;

    transition:.3s;

}

button:hover{

    transform:scale(1.05);

    box-shadow:
    0 0 5px #00ff66,
    0 0 0px #00ff66;

}

button i{

    margin-right:10px;

    color:yellow;

}

@media(max-width:450px){

.container{

    width:95%;

}

h1{

    font-size:40px;

}

h2{

    font-size:25px;

}

label{

    font-size:20px;

}

select{

    width:180px;

}

#signal{

    font-size:40px;

}
}
a{
    font-size:20px;
    background-color: #18d7d7;
    border: 2px solid ;
    border-radius: 10px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing: 10px;
    letter-spacing: 0px;
    padding: 10px;
    

    
    

}


